# 1. Ignorar absolutamente todo en la raíz del proyecto
/*

# 2. Excepciones: NO ignorar este archivo .gitignore ni la carpeta de plantillas
!.gitignore
!squelettes/

# 3. Archivos basura o temporales del sistema que tampoco deben subirse dentro de squelettes
.DS_Store
Thumbs.db
*.log
*.tmp